:root {
  --charcoal: #1C1D21;
  --copper: #B97F3C;
  --lion: #B97F3C;
  --babyPowder: #FDFFF7;
  --coolGray: #999AC6;
}

body {
  background-color: var(--babyPowder);
  /* overflow-x: hidden */
}

@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');